# Ignore the reference papers
papers/

# Ignore the txt version datasets
testdatasets_txt/

# Virtual environments
venv*
venv/
.env

# macOS
**/.DS_Store

# VSCode settings
.vscode/

# cache
__pycache__/

# testdata
testdatasets_json/

# datasets
datasets_json/